
body{
  background-color: hsl(40, 9%, 87%);
}

.container {
  background-color: rgb(113, 136, 115);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 1px solid white;
  border-radius: 30px;
  margin: 20px;
}

.containerLink {
  list-style-type: none;
  display: inline-block;
  padding: 15px;
  margin: 0 55px;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.container a:hover{
  background-color: lightsteelblue;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  border: 1px solid white;
  border-radius: 20px;
  background-color: #fff;
  margin: 25px;
  padding: 25px;
  text-align: center;
  flex: 0 1 calc(20% - 10px);
  font-size: 60px;
}

.box img {
  display: block;
  margin: auto;
  padding: 20px;
  border: 1px solid white;
  border-radius: 40px;
}

.box h1 {
  font-size: large;
}

.box p {
  font-size: medium;
  flex-wrap: wrap;
}

.header {
  text-align: center;
  padding-top: 20px;
  font-size: 50px;
  color: rgb(75, 95, 76);
}

.form{
  display: grid; 
  max-width: 200px; 
  gap: 20px;
}

.formLabel{
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
}